*{
	font-family: 'Nunito', sans-serif;
}
.container {
    max-width: 1480px;
}
@media only screen and (min-width: 992px){
	.container {
	    width: 95%!important;
	}
}
@media only screen and (min-width: 1380px){
    .container {
        width: 1180px!important;
    }
}
img{
	max-width: 100%;
}
nav ul a {
    font-size: 14px;
    font-weight: 600;
    color: #5f5f5f;
    letter-spacing: 0.5px;
}
a {
    color: #2fb1d8;
}
p {
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5a;
    margin: 0 0 12px;
}
b {
    color: #002d5d;
}
hr {
    height: 2px;
    background: #d6d6d6;
    border: none;
}
strong {
    font-weight: 800;
    color: #002d5d;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #424242;
    margin-top: 0;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 15px;
}
a.btn.btn-1 {
    border: 3px solid #2fb1d8;
    color: #2fb1d8;
    background: none;
    padding-top: 3px;
}
.btn {
    background: #409ed1;
    border-radius: 50px;
    padding: 6px 32px;
    height: 46px;
    font-weight: 600;
    margin: 0 5px;
}
a.btn:hover {
    background: #f18a06;
}
.bg1{
    background: #f3f5fa;
}
.relative{
	position: relative;
}
.title {
    color: #363636;
    margin-bottom: 20px;
}
.blanco, .blanco h1,.blanco h2,.blanco h3,.blanco h4,.blanco h5,.blanco h6 {
    color: white;
}
.blanco p{
    color: white;
}
.blanco strong {
    color: #ffffff;
}
.blanco b {
    color: #239d54;
}
.title.blanco h3 {
    margin-top: 0;
}
.flex {
    display: flex;
}
.color-secon{
	color:#26539e;
}
.paddin{
    padding: 20px;
}
.no-margin{
    margin: 0;
}
.no-paddin{
    padding: 0!important;
}
section.section {
    padding: 50px 0;
}
section.section1 {
    padding: 120px 0;
}
.bg {
    background: #f5f7f9;
}
.text-long p{
    font-size: 18px;
}
.container-short{
    max-width: 750px;
    margin: auto;
}
.blanco ul li a {
    color: white;
}
i.right {
margin-left: 0px;
}
.section nav {
    height: auto;
    position: relative;
    background: #f6f6f6;
}
.content-container {
    max-width: 965px;
    margin: 40px auto;
}
.font-g p {
    font-size: 18px;
}
.input-field {
    margin-top: 0px;
}
.input-field label {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #797979;
}
.input-field input {
    width: 100%;
    height: 42px;
    padding: 0 10px;
}
.input-field textarea {
    height: 90px;
}
.content-form {
    border-top: 3px solid #2fb1d8;
    border-radius: 4px;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.2);
}
a.sidenav-trigger {
    background: #e8e8e8;
    margin: 0;
    padding: 0 15px;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    margin-top: 20px;
}
/*===========BTN=============*/
.menu .btn {
    height: 48px;
    display: flex;
    padding: 10px 20px;
    margin-right: 0;
    text-transform: initial;
    margin-top: 23px;
}
.menu .btn i {
    line-height: 27px;
    height: 10px;
    color: white;
    padding-right: 10px;
}
.menu .btn span {
    width: 74px;
    line-height: 15px;
    color: white;
    font-size: 15px;
    text-align: left;
}
.container1 {
    background: rgba(235, 248, 255, 0.9);
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    padding: 50px 50px;
}
.card-referidos {
    padding: 0 12px;
}
.card-referidos span {
    background: #f18a06;
    width: 64px;
    height: 64px;
    line-height: 64px;
    display: inline-block;
    border-radius: 50%;
    margin: 13px 0;
    color: white;
    font-size: 21px;
}
a.grey-text.text-lighten-4.right:hover {
    text-decoration: underline;
}
a.grey-text.text-lighten-4.right img {
    height: 18px;
    margin-bottom: -2px;
    margin-left: 4px;
}
/*========== Header =============*/
.movil-logo {
    padding: 20px 10px;
    text-align: center;
}
header.menu2 {
    top: 0;
    background: white;
    z-index: 90;
    width: 100%;
}
header.menu2:before{
    content: none;
}
header.menu2 nav {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
    height: 64px;
}
header nav {
    height: 100px;
    transition: 0.8s;
    background: #ffffff;
    position: fixed;
    z-index: 30;
}
header.menu2 nav .logo2 {
    display: block!important;
}
header.menu2 .menu div a {
    color: #333333;
}
header.menu2 a.sidenav-trigger {
    color: #26539e;
    margin-top: 4px;
}
header.menu2 .menu div a {
    height: 64px;
    line-height: 64px;
}
ul#mobile-demo {
    z-index: 999;
}
ul#nav-mobile span {
    font-size: 18px;
}
nav ul li.active a {
    border-bottom: 3px solid #1aa3cd;
    height: 64px;
}
a.sidenav-trigger i {
    color: #1c61ad;
}
a.brand-logo img {
    padding: 5px 0;
}
.menu2 .menu img.logo1 {
    display: none;
}
.menu div a {
    height: 100px;
    padding: 0px 20px;
    float: left;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 100px;
    color: #333333;
    transition: 1s;
}
header.menu2 .menu .btn {
    height: 48px;
    margin-top: 8px;
}
.menu div a img {
    height: 100%;
}
a.logo-center {
    padding: 5px 5px!important;
}
nav .btn-enlace {
    height: 75px;
    padding: 5px 25px;
    font-weight: 700;
    letter-spacing: 0.01em;
}
.redes {
    position: absolute;
    z-index: 20;
    bottom: 15px;
    left: 3%;
}
.redes ul li a {
    display: block;
    margin: 8px 0;
}
.redes ul li a img {
    background: white;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
}
.section-l {
    padding: 100px 0;
}
.resaltar strong {
    color: #239d54;
}
.resaltar {
    padding-left: 20px;
}
.content-img:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #d8d8d8;
    top: -20px;
    left: 20px;
}
.content-img img {
    width: 100%;
    display: block;
    position: relative;
}
.gray-bg {
    background: #f4f7fc;
}
div#cotiza input {
    border: 2px solid #e6e6e6!important;
}
div#cotiza {
    max-width: 700px;
    padding: 20px 0;
}
/*SKILIDER=================================*/
/* ==== Main CSS === */
.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img.slide {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left /* If RTL Make This Right */ ;
  padding: 0;
}

/* ==== Slider Style === */
.Modern-Slider .item .img-fill{
  height:100vh;
  /*height: calc(100vh - 75px);*/
  background:#000;
}

.Modern-Slider .item .img-fill .info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    padding-top: 100px;
    left: 0px;
    /* background: rgba(0,0,0,.50); */
    /* line-height: 100vh; */
    text-align: center;
}


.Modern-Slider .PrevArrow,.Modern-Slider .NextArrow {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0);
    border: 0 none;
    margin-top: -22.5px;
    color: #FFF;
    z-index: 5;
    font-size: 64px;
    cursor: pointer;
}

.Modern-Slider .NextArrow{
  right:1%;
}

.Modern-Slider .PrevArrow{
  left:1%;
}

.Modern-Slider .slick-dots {
    position: absolute;
    height: 5px;
    background: rgba(255,255,255,.20);
    top: 0px;
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.Modern-Slider .slick-dots li button{display:none;}
.Modern-Slider .slick-dots li{
  float:left;
  width:0px;
  height:5px;
  background:rgba(255, 255, 255, 0.6);
  position:absolute;
  left:0px;
  bottom:0px;
}

.Modern-Slider .slick-dots li.slick-active{
  width:100%;
  -webkit-animation:ProgressDots 11s both;
          animation:ProgressDots 11s both;
}

.Modern-Slider .item img.slide{
  -webkit-animation:Slick-SlideOut 1s both;
          animation:Slick-SlideOut 1s both;
}

.Modern-Slider .item.slick-active img.slide{
  -webkit-animation:Slick-SlideIn 1s both;
          animation:Slick-SlideIn 1s both;
}
.slick-active .text-slide {
    background: rgba(255, 255, 255, 0);
    padding: 64px 25px;
    border-radius: 25px;
    overflow: hidden;
    margin: auto!important;
    max-width: 800px;
    width: 100%;
    -webkit-animation: fadeInRight 1s both;
    animation: fadeInRight 1s both;
}



/* ==== Slider Image Transition === */
@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}


/*SKILIDER=== FIN===========================*/

.messenger img {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
}
.messenger {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 100;
}
.color-1 p {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}
.text-slide h3 {
    font-size: 3.5rem;
    text-shadow: 0px 2px 7px black;
}

.formulario input, .formulario textarea {
    background: white!important;
    border: 2px solid #e2e2e2!important;
    border-radius: 8px!important;
    margin-top: 5px!important;
}
.formulario {
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    border-radius: 3px;
    padding: 30px;
    max-width: 700px;
    margin: auto;
    margin-top: 32px;
    border-top: 4px solid #a5a5a5;
}
#owl-demo .item{
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.card-proyectos {
    position: relative;
    overflow: hidden;
    border-right: 3px solid white;
}
.card-proyectos .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}
.card-proyectos img {
    display: block;
}
.card-proyectos .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    -webkit-box-shadow: inset 0px -92px 26px -38px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px -92px 26px -38px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px -92px 26px -38px rgba(0, 0, 0, 0.4);
}
.content-proyect {
    position: absolute;
    width: 50%;
    text-align: left;
    padding: 40px;
    left: 0;
    transition: 0.5s;
    margin-left: -100%;
}
.title-proyect {
    opacity: 0;
    transition: 0.5s;
}
.item:hover .content-proyect{
    margin-left: 0;
}
.item:hover .title-proyect{
    opacity: 100;
}
.content-proyect h5 {
    color: white;
    font-weight: 700;
}
.content-proyect hr {
    margin: 16px 0px;
    width: 70px;
    background: #f18a06;
    height: 3px;
    border: none;
    border-radius: 30px;
}
.card-logo {
    position: absolute;
    top: 4%;
    right: 4%;
}
.item:hover .card-proyectos:before {
    background: rgba(0, 0, 0, 0.48);
}
.card-proyectos:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: 0.3s;
}
a.btn.next,a.btn.prev {
    background: #239d54;
}
.title h2,.title h3,.title h4.title h5 {
    color: #002d5d!important;
    font-weight: 700;
    margin-bottom: 5px;
}
section.section-contacto {
    padding: 100px 0;
}
.container-form {
    background: rgba(243, 245, 250, 0.95);
    max-width: 632px;
    margin: auto;
    padding: 30px 30px;
    border-radius: 34px;
    width: 94%;
}
.capa-bg:before {
    content: '';
    background: rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.capa-bg {
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
input, textarea {
    background: white!important;
    padding: 10px 10px!important;
    border-radius: 10px!important;
    border: 2px solid #ece7e7!important;
    box-sizing: border-box!important;
    margin: 0!important;
}
.input-field label {
    color: #616161;
    font-size: 15px;
}
.subtitle {
    margin-top: 24px;
    margin-bottom: 20px;
}
.subtitle h4:before {
    content: '';
    width: 42px;
    height: 4px;
    background: #ea892f;
    position: absolute;
    bottom: -8px;
    border-radius: 30px;
}
.borde-rad img {
    text-align: center;
    width: 50%;
    float: left;
}
.borde-rad {
    text-align: center;
    padding: 10px 26px;
    background: white;
    border-radius: 16px;
    float: left;
}
section.banner {
    background-size: cover;
    background-position: center;
    padding: 200px 0 100px;
}
section.banner:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.45);
}
.banner .enlaces {
    padding-top: 25px;
}
.text-banner {
    height: 100%;
    padding: 30px 0;
}
.text-banner h1 {
    font-size: 30px;
    font-weight: 700;
}
.enlaces a {
    padding: 0 13px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.cover{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.section-historia.center-align {
    background: white;
    border-radius: 20px;
    padding: 50px 10%;
}
.section-historia h3 {
    color: #f18a06;
}
.section-historia p strong{
    color: #239d54;
}
p strong {
    color: #008b44;
}
.myv .col.s12.m12.l6.smp, .myv .col.s12.m12.l6.smp2 {
    background-size: cover;
    position: relative;
    background-position: center;
}
.myv .col.s12.m12.l6.smp:before, .myv .col.s12.m12.l6.smp2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(35, 157, 84, 0.8);
}
.myv .col.s12.m12.l6.smp2:before {
    background: rgba(25, 141, 204, 0.8);
}
.text-mision {
    position: relative;
    padding: 104px 75px;
    height: 430px;
    max-width: 680px;
    margin: auto;
}
.text-mision p {
    font-size: 18px;
    font-weight: 600;
}
.card-title {
    padding: 20px 0px;
}
.content-card-proyecto {
    padding-left: 20px;
    width: 100%;
}
.card-proyecto .card-title {
    padding: 13px;
    height: 160px;
    overflow: hidden;
}

.card-proyecto {
    background: white;
    padding-bottom: 15px;
    border-radius: 3px;
    margin: 12px 0;
}
a.active.proyect .btn-proy {
    background: #f18a06;
}
a.active.proyect .btn-proy strong {
    color: white;
}
.mayuscula{
    text-transform: uppercase;
}
.text-li ul li {
    position: relative;
    padding-left: 25px;
}
.text-li ul li:before {
    content: '\edb3';
    font-family: 'seo';
    speak: none;
    font-style: normal;
    line-height: 1;
    font-size: 15px;
    position: absolute;
    top: 3px;
    left: 0;
    color: #32a92d;
}
.content-single h3 {
    font-size: 22px;
}
.card-aside {
    background: #fbfbfb;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 2px 1px #ece7e7;
}
.card-aside .card-title {
    background: #239d54;
    padding: 20px;
}
.card-aside .card-title h4 {
    color: white;
    margin: 0;
}
.content-aside {
    padding: 20px;
}
.card-aside .card-image {
    width: 122px!important;
    display: block;
    float: left;
}
.card-aside {
    margin-bottom: 14px;
    display: inline-block;
    width: 100%;
}
.card-aside .card-content {
    height: 74px;
    padding-left: 12px;
}
.card-estado {
    background: #fbfbfb;
    margin-bottom: 25px;
    padding: 25px 10px 18px;
    box-shadow: 0px 2px 1px #ece7e7;
}
.card-estado i {
    font-size: 24px;
    color: #f18a06;
    float: left;
    padding-right: 21px;
}
.checkbox a {
    text-decoration: underline;
}
a[href$='.pdf'] {
    padding: 5px 20px 5px 0;
    background: transparent url(img/icon_pdf.gif) no-repeat center right;
}

.bg-politicas {
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}
.ley.politicas:after {
    content: "";
    top: 0;
    left: -500px;
    width: 500px;
    height: 100%;
    position: absolute;
    background: #f5f7f9;
}
.politicas {
    padding: 190px 40px 90px 0!important;
    position: relative;
    box-shadow: 0px 2px 20px #3e3e3e;
}
.ley.politicas a {
    margin-right: 20px;
    display: -webkit-inline-box;
}
ul#proy {
    min-width: 230px;
    top: 75px!important;
}
ul#proy li a {
    width: 100%;
    padding: 12px 24px;
    line-height: 46px;
    height: auto;
}
.menu ul li a i {
    line-height: inherit;
}
section.top-botones {
    padding: 1px;
    margin-top: -44px;
    margin-bottom: -55px;
}
.btn-proy {
    background: white;
    text-align: center;
    padding: 22px 18px;
    border-radius: 35px;
    position: relative;
    font-size: 17px;
    border: 3px solid #efefef;
}
.proyectos-section .item .card-proyectos {
    max-height: 485px;
}
.text-plano {
    background: #fbfbfb;
}
/*__FOOTER==============================*/
footer.page-footer {
    /*background-image: url(img/footer-bg.jpg);*/
    background-size: cover;
    background-position: center top;
    color: #333333!important;
    font-weight: 700;
    padding-top: 85px;
}
footer.page-footer ul li a {
    line-height: 34px;
    float: left;
    width: 100%;
}
.footer-copyright {
    padding: 24px 0!important;
    margin-top: 70px;
}
.redes-footer ul li {
    display: inline-grid;
    margin: 5px;
}
a.ley {
    margin: 22px 0!important;
    display: inline-block;
    color: white;
    font-size: 16px;
    text-decoration: underline;
}
a.modal-close {
    background: #409ed1;
    padding: 17px 32px;
    top: 0;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 33px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
    font-size: 25px;
    font-weight: 800;
    color: #ffffff;
}
div#messenger {
    max-width: 500px;
}
a.slick-slide img {
    object-fit: cover;
    height: 400px;
}
li.slick-slide img {
    height: 100px;
    object-fit: cover;
}
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 600px){
    .text-slide {
        padding: 30px 70px!important;
    }
    .text-slide h3 {
        font-size: 38px;
    }
    .menu div a {
        padding: 0px 2px;
    }
    a.slick-slide img {
    object-fit: cover;
    height: 250px;
}
}
@media only screen and (max-width: 550px){

}

